
<h3>Hello,</h3>

<h4>Due to unforeseen circumstances, your booking for the following tour has been <b>cancelled:</b></h4>

<ul>
  <li>What: <%= @tour.name %></li>
  <li>When: <%= @schedule.tour_start_time %></li>
</ul>

<p>We apologize for any inconvenience this may have caused and hope you book another tour with us in the future!</p>

<h3>The Rendezyou team</h3>
