
  <h3>Dear <%= @user.name %>,</h3>

  <p>Welcome to Rendezyou!</p>

  <p>We can't wait to see what new adventures Rendezyou can help you find! Get started by logging into your Rendezyou profile and either booking a tour or creating a tour to guide.</p>

  <h3>The Rendezyou Team</h3>
