<!-- <h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p> -->

<%= image_tag("passport.jpg", :class=>"passport_img")%>
<%= image_tag("plain_wood.png", :class=>"passport_wood_img")%>

<%= render 'form' %>
