<div class="layout_nav_bar">
</div>

<div class="yield">
</div>



<p class="show_page_tour_image"><%= image_tag @tour.tourpic.url(:medium), :class=>"tour_pic_tourdetails" %></p>
<div class="schedules-new-page">
<h2>When do you want to guide <%= @tour.name %>?</h2>


<% unless @tour.schedules.empty? %>
  <div class="currently-scheduled">

  <h3>You have currently scheduled:</h3>
  <ul>
    <% @tour.schedules.each do |s| %>
      <li>
          <%= "#{s.tour_session}" %>
      </li>
    <% end %>
  </ul>

</div>
<% end %>

<div class='form_container'>
  <%= render 'form' %><br>
</div>


</div>
