<div class="layout_nav_bar">
</div>
<div class="yield">
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-1">
    </div>

    <div class="col-sm-11">
      <%= render 'form' %>
      <%= link_to "<< Back to tour", tour_path(@tour) %>
    </div>
  </div>
</div>
