<div class="yield">
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row">

      <h4 class="create_a_tour_now">Many adventures await at <span class="a_nav_logo small_logo">RendezYOU</span>  !</h4>

      <div class="col-md-1">
      </div>

      <div class="col-md-11" id="edittour">

        <%= render 'form' %>

      </div>

    </div>
  </div>
</div>
