<div class="layout_nav_bar">
</div>
<div class="yield">
</div>
<!-- carousel -->

<!--
<div class="container-fluid" id="user-carousel-container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">

    <div class="col-md-2" id="verticalcarousel">
      <div class="carousel slide" id="carousel-334026">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-334026">
          </li>
          <li data-slide-to="1" data-target="#carousel-334026">
          </li>
          <li data-slide-to="2" data-target="#carousel-334026">
          </li>
        </ol>
        <div class="carousel-inner">

          <div class="item active">
            <%= image_tag("carou1-01.jpg", :class=>"")%>
            <div class="carousel-caption">
              <h4>
                City Tours
              </h4>
              <p>
                Browse through our library of fantastic City Tours
              </p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("carou2-01.jpg", :class=>"")%>
            <div class="carousel-caption">
              <h4>
                FEATURING THIS MONTH
              </h4>
              <p>
                There's always an event waiting for you.
              </p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("carou3-01.jpg", :class=>"")%>
            <div class="carousel-caption">
              <h4>
                BOOK A NEW TOUR
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>

        </div> <a class="left carousel-control" href="#carousel-334026" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-334026" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
</div> -->
<div class="col-md-12">
    <%= render 'form' %>
</div>




  </div>
</div>

</div>
</div>
</div>
