<!-- landing page -->

<%= image_tag("top.jpg", :class=>"map_img")%>

<div class="logo_container">
  <div class="container">
    <p class="logo"><span class="red_logo">Rendez</span>YOU</p>
    <p class="tag_line">CLICK • CONNECT • EXPLORE</p>
  </div>
</div>

<!-- setup -->

<div class="set_up">
  <div class="oneliner">
    <!-- <p>Fall in love with your city again!</p> -->
  </div>
<div>

<div class="onetwothree">
  <div class="">
  </div>
</div>
