// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.booking {
  text-align: center;
  width: 70%;
  margin: auto;
}

.booking_size {
  margin: 10px auto;
  font-weight: normal;
}
