
// <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Harmattan|Niconne|Open+Sans:700" rel="stylesheet">
// Specify in CSS
//
// Use the following CSS rules to specify these families:
// font-family: 'Open Sans', sans-serif;
// font-family: 'Niconne', cursive;
// font-family: 'Grand Hotel', cursive;
// font-family: 'Harmattan', sans-serif;
// font-family: 'Shanti', sans-serif;

html{
  font-size: 1.5em;
}

// Our code starts here
.navigate {
   position: relative;
   max-width: 100%;
   z-index: 100;
 }

.nav_bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5.25em;
  background: rgba(0,0,0,1);
}

.a_nav_logo{
  vertical-align: middle;
  font-style: italic;
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: #ffc800;
  padding: 0px 30px 0px 30px;

  &:hover{
    text-decoration: none;
    color: grey;
    opacity: .9;
  }
}

#main_nav_logo{
  &:hover{
    color: white;
    padding-bottom: -20px;
    // text-shadow: 0px 0px 2px white;

    // border-bottom: 5px solid #ffc800;
  }
}

//nav_drop
.nav_items > a,
.nav_items,
.dropdown-toggle.nav_items{
  font-size: 1.1em;
  font-family: arial;
  color: white;
  margin: 0px 10px 0px 10px;
  padding: 0px 4px 0px 3px;
  margin-right: 6px;

  &:hover{
    text-decoration: none;
    color: white;
    color: #ffc800;
    // padding-bottom: 1.15em;
    // border-bottom: 11px solid #ffc800;
  }
}

a.dropdown-toggle.nav_items.a{
  &:hover{
    text-decoration: none;
    color: white;
    padding-bottom: 1.25em;
    border-bottom: 11px solid #ffc800;
  }
}

li.nav_item_margin{
  margin: 0px 25px 0px 25px;
}

li.nav_item_margin.nav_seven,
li.nav_item_margin.nav_four{
  position: absolute;
  right: 120px;
}

li.nav_item_margin.nav_eight,
li.nav_item_margin.nav_five{
  position: absolute;
  right: 15px;
}



// bootstrap nav

 // .dropdown-toggle{
 //   display: inline-block;
 //   color: white;
 //   font-size: 1.5em;
 //   padding: 6px 15px;
 // }

li{
  list-style: none;
  color: white;

}
.nav_drop{
  position: absolute;
  display: inline-block;
  float: left;
  padding: 14px;
  margin-top: .5em;
}

div.yield{
  padding-top: 5.25em;
  width: 100%;
}

.signup_window,
.login_window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.6);
  z-index: 990;
}

.signup_form,
.signup_form_static{
  background-color: rgba(30,30,30,0.8);
  z-index: 990;
}

.login_form,
.login_form_static {
    display: block;
    width: 400px;
    height: 18em;
    padding: 2em;
    background-color: #b9c2cc;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#error_explanation,
#notice,
#alert {
  position: fixed;
  // top: 4em;
  right: 6em;
  text-align: center;
  color: tomato;
  background: rgba(255,255,255,.9);
  font-size: 1em;
  min-height: 7em;
  border-radius: 25px;
  border: 1px solid grey;
  z-index: 2;
  padding-top: 3.5em;
  box-shadow: 1px 1px 3px 2px grey;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#notice{
  min-width: 20em;
}
#alert {
  min-width: 25em;
}

.or_font{
  position: absolute;
  color: SteelBlue;
  right: -1.35em;
}

.nav_nine,
.nav_six{
  display: none;
}

input#user_avatar{
  background: rgba(255,255,255,0);
  width: 240px;
  height: 34px;
  padding-top: 5px;
  margin-right: 15px;
}


@media (max-width:1045px){

li.dropdown.nav_item_margin.nav_nine,
li.dropdown.nav_item_margin.nav_six{
    display: inherit;
    position: absolute;
    right: 0px;

    & a.dropdown-toggle.nav_items{
      padding-top: .2em;
      color: white;

      &:hover{
        text-decoration: none;
        color: Aquamarine;
        padding-bottom: 0em;
        border-bottom: 0px solid transparent;
      }
    }
  }

#pro_pic_nav_six{
  margin-top: .4em;
  margin-right: .4em;
}

  .nav_one,
  .nav_two,
  .nav_three,
  .nav_four,
  .nav_five,
  .nav_seven,
  .nav_eight{
    display: none;
  }

  .nav_nine,
  .nav_six{
    padding-top: .75em;
  }

}


@media (max-width:667px){

  input#user_avatar{
    color: white;
  }


  #pro_pic_nav_six{
    display: none;
  }

}
