html{
  font-size: 1.5em;
}

// Our code starts here
 .navigate {
   position: relative;
   min-width: 1200px;
   z-index: 100;
 }

.nav_bar {
  width: 100%;
  height: 6em;
  background: rgba(0,0,0,0);
  position: fixed;
}

.layout_nav_bar {
  width: 100%;
  height: 6em;
  background: rgba(0,0,0,1);
  position: fixed;
}


 .nav_home {
   display: inline-block;
   color: white;
   padding: 1.5em;
   height: 5em;
 }
 .a_nav_home{
   vertical-align: middle;
   font-family: 'Pacifico', cursive;
   font-size: 2em;
   color: #ffc800;
 }
 .nav_current_user,
 .nav_not_current_user {
   float: right;
   display: inline-block;
   color: white;
   padding: 1.5em;
   height: 5em;
 }

 .a_logout,
 .a_login {
   vertical-align: middle;
   color: grey;
   font-size: 1.1em;
   padding: 0 10px;
 }

 .a_myprofile,
 .a_signup{
   vertical-align: middle;
   color: grey;
   font-size: 1.1em;
   padding: 0 10px;

 }

div.yield{
  padding-top: 8em;
  width: 95%;
  margin: auto;
}

.signup_window,
.login_window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.8);
  z-index: 990;
}

.signup_form,
.signup_form_static,
.login_form,
.login_form_static {
    display: block;
    width: 400px;
    height: 18em;
    padding: 2em;
    background-color: #b9c2cc;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#alert {
  position: absolute;
  margin: auto;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  color: grey;
}
