

// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map_img{
  position: fixed;
  width: 100%;
  z-index: -500;
  min-width: 1200px;
}


.logo_container{
  position: relative;
  width: 100%;
  height: 100vh;
}
.container{
  position: absolute;
  color: white;
  text-align: right;
  top: 35%;
  right: 7%;
}

.logo{
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 8em;
  font-style: italic;
  text-shadow: 5px 5px rgba(0, 0, 0, 1);
}

.red_logo{
  color: white;
  // color: #db2d0e;
  // color: rgba(255, 255, 255, .9);
  // text-decoration: underline;
}

.a_login{
border: none;
background: none;
}

.field {
  font-size: 1em;
}

input{
  align-items: right;
}

.one_two_three{
  zoom: 80%;
  width: 80%;
  margin: auto;
}

.cabin_sketch{
  font-size: 4em;
  font-family: 'Cabin Sketch', cursive;
}

h2.cabin_sketch{
  margin-top: .5em;
  margin-bottom: .5em;
}

.red{
  color: orangered;
  font-size: 1.1em;
}



.main_footer{
  background: gainsboro;
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  & p{
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    margin-right: 3em;
  }
}

.show_page_icon{
    width: 60%;
    text-align: center;
}

.tag_line{
  position: relative;
  font-size: 1.4em;
  letter-spacing: .2em;
  padding-top: 1.75em;
  text-shadow: 3px 3px rgba(0, 0, 0, 1);
}

.set_up{
  background: white;
  width: 100%;
}

.oneliner{
  // font-family: 'Cabin Sketch', cursive;
  // font-family: 'Oswald', sans-serif;
  font-family: 'Yrsa', serif;
  color: black;
  font-size: 4.5em;
  text-align: center;
  padding-top: 1.75em;
  padding-bottom: 1em;
  zoom: 90%;
  font-weight: bold;
  text-shadow: 4px 3px 0 white, 9px 8px 0 rgba(0,0,0,0.15);
  // font-style: italic;


}

.container_one_two_three{
  position: relative;
  text-align: center;
}

.show_page_three_two_one{
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
  margin-bottom: 3em;
  font-size: 1.35em;
}

  i.fa.fa-map-marker.fa-5x.mobile_pin_map{
    display: none;
  }

  #mobile_view_tab{
    display: none;
  }

  a.btn.btn-warning{
    font-size: .75em;
  }


@media (min-width:1280px){
  .oneliner{
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-size: 5em;
  }

  .one_two_three{
    padding-bottom: 6em;
  }


  form#new_user{
    padding-top: 3%;
  }

  #mobile_view_tab{
    display: none;
  }

  .logo{
    font-size: 10.5em;
  }

  // i.fa.fa-map-marker.fa-5x.mobile_pin_map{
  //   position: absolute;
  //   display: inherit;
  //   color: indianred;
  //   text-shadow: 0px 7px 3px black;
  //   left: 265px;
  //   top: -70px;
  //   margin-top: 50px;
  //   z-index: 2;
  // }
  //
  // #mobile_view_tab{
  //   position: absolute;
  //   // font-family: 'Cookie', cursive;
  //   display: inline;
  //   font-family: arial;
  //   font-size: 1em;
  //   color: steelblue;
  //   background: khaki;
  //   box-shadow: 0px 0px 10px black;
  //   padding: .5em;
  //   transform: rotate(-45deg);
  //   width: 150px;
  //   top: 5.5em;
  //   left: 12em;
  //   text-align: center;
  //   z-index: 1;
  // }

}

@media (max-width:1045px){
  p.logo{
    text-align: right;
    font-size: 7.5em;
    padding-right: 20px;
 }

 i.fa.fa-map-marker.fa-5x.mobile_pin_map{
   position: absolute;
   display: inherit;
   color: indianred;
   text-shadow: 0px 7px 3px black;
   left: 265px;
   top: -70px;
   margin-top: 50px;
   z-index: 2;
 }

 #mobile_view_tab{
   position: absolute;
   // font-family: 'Cookie', cursive;
   display: inline;
   font-family: arial;
   font-size: 1em;
   color: steelblue;
   background: khaki;
   box-shadow: 0px 0px 10px black;
   padding: .5em;
   transform: rotate(-45deg);
   width: 150px;
   top: 5.5em;
   left: 12em;
   text-align: center;
   z-index: 1;
 }

 p.tag_line{
   font-size: .9em;
   margin-right: 10px;
 }

 .oneliner{
   font-size: 3.5em;
   text-shadow: 3px 2px 0 white, 6px 4px 0 rgba(0,0,0,0.15);
   padding-top: 3.25em;
   padding-bottom: 2.25em;

 }

 h2.cabin_sketch {
   font-size: 2.5em
 }

 ul.dropdown-menu.nav_item_margin{
   left: -15;
   min-width: 80px;
   z-index: 9999;
   // margin-right: 100px;
 }

 form.login_form{
   width: 40%;
 }

 p.tourp.page_ipad{
   margin-top: 40px;
   margin-right: 0px;
 }
 p.tourp{
   height: 5em;
 }


 div#thumbnail_tour_index{
   border: 1px solid grey;
  //  height: 420px;
  margin-bottom: 40px;
 }

 a.btn.btn-warning{
   margin: 2%;
 }

}


@media (max-width:880px){

  i.fa.fa-map-marker.fa-5x.mobile_pin_map{
    position: absolute;
    display: inherit;
    color: indianred;
    text-shadow: 0px 7px 3px black;
    left: 265px;
    top: -3.1em;
    margin-top: 50px;
    z-index: 2;
  }

  #mobile_view_tab{
    position: absolute;
    // font-family: 'Cookie', cursive;
    display: inline;
    font-family: arial;
    font-size: 1em;
    color: steelblue;
    background: khaki;
    box-shadow: 0px 0px 10px black;
    padding: .5em;
    transform: rotate(-45deg);
    width: 150px;
    top:-5em;
    left: 12em;
    text-align: center;
    z-index: 1;
  }

  p.logo{
    font-size: 6em;
  }

  // .tag_line{
  //   padding-top: 175px;
  //   padding-right: 250px;
  // }

}

@media (max-width:667px){
  .map_img{
    position: fixed;
    width: 70vw;
    z-index: -500;
  }

  .logo{
    display: none;
  }

  p.tag_line{
    font-size: 1em;
    padding-top: 300px;
    padding-left: 30px;
    width: 100%;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 0px 10px black;
  }

  i.fa.fa-map-marker.fa-5x.mobile_pin_map{
    position: absolute;
    display: inherit;
    color: indianred;
    text-shadow: 0px 7px 3px black;
    top: -10px;
    left: 170px;
    margin-top: 50px;
    z-index: 2;
  }
  .oneliner{
    font-size: 2em;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    text-shadow: 3px 2px 0 white, 6px 4px 0 rgba(0,0,0,0.15);
  }

  #oneliner{
    padding-top: 4em;
    // font-size: 2em;
  }

  ul.dropdown-menu.nav_item_margin{
    left: -15;
    min-width: 80px;
    z-index: 9999;
    // margin-right: 100px;
  }

  form.login_form{
    width: 90%;
  }

  #mobile_view_tab{
    position: absolute;
    // font-family: 'Cookie', cursive;
    display: inline;
    font-family: arial;
    font-size: 1em;
    color: steelblue;
    background: khaki;
    box-shadow: 0px 0px 10px black;
    padding: .5em;
    transform: rotate(-45deg);
    width: 150px;
    top: 10em;
    left: 5em;
    text-align: center;
    z-index: 1;
  }

  h2.cabin_sketch {
    font-size: 3.25em
  }

  #notice,
  #alert{
    right: 3em;
  }

}
