// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mustard: #ffc800;
$light-mustard: #fcdc6a;

.new-review-form {
  width: 70%;
  margin: 5% auto;
}

.review-form-fields {
  margin-left: 5%;
}

.comment-field {
  display: block;
  clear: both;
  margin-bottom: 2% 0;
}

.new-review-form h2{
  padding-bottom: 15px;
  border-bottom: 2px solid $mustard;
}

.star-rating {
  float: left;
  margin-bottom: 3%;
}

.star-rating:not(:checked) > label {
  float: right;
  color: lightgray;
  padding: 0 .1em;
}

.star-rating:not(:checked) > input {
  display: none;
}

.star-rating > input:checked ~ label {
    color: $mustard;
}

.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
    color: $light-mustard;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: $light-mustard;
}

.review-submit {
  margin-top: 2%;
}
