// Place all the styles related to the tourpoints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tourpointmap {
  height:500px;
  width:100%;
}

#edit-tourpoints-map {
  height:500px;
  width:50%;
}

.tour_point_form_scale{
    margin-top: 4em;
    zoom: 90%;
    width: 90%;
}
