// Place all the styles related to the Tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel_height{
  height: 400px;
}
// gmap: ----------------------
#rendezvous-map {
  height:500px;
  width:50%;
}

// gmap:-----------------------
#show-tour-map {
  height:200px;
  width:100%;
  margin-bottom: 2%;
}


.tour_show_full{
  position: relative;
  box-sizing: border-box;
}

.tour-desc{
height: 25vw;
}

.tours_index_search_bar{
  margin-top: 5%;
text-align: center;
}

.tours_index_actual_bar{
  height: 3.5em;
  margin-right: 2%;
  margin-top: 1%;
  width: 50%;
  border-radius: 6px;

}

.tours_show_entice{
  margin-right: 5%;
  text-align: right;
  margin-bottom: 3%;
}

#thumbnail_tour_index{
  border: 0;
}

.tour_index_name{
  font-family: 'Harmattan', sans-serif;
  color: white

}

// SCSS code
.index-container-relative {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 275px;

  .tour_pic_tourdetails {
    box-sizing: border-box;
    position: relative;
    zoom: 150%;
  }
}


// compiled (normal css) code
// .index-container-relative {
//   position: relative;
//   overflow: hidden;
//   width: 100%;
// }
//
// .index-container-relative.modified {
//   background: white;
// }
//
// .index-container-relative .tour_pic_tourdetails {
//   box-sizing: border-box;
//   position: relative;
//   zoom: 205%;
// }

.tour_index_name{
  position: absolute;
  font-family: 'Raleway', sans-serif;
  // font-family: 'Crimson Text', serif;
  // font-weight: lighter;
  top: 215px;
  left: 20px;
  letter-spacing: .2em;
  text-shadow: 1px 1px 3px black;
  font-size: .75em;

}

.tour_index_cat{
  position: absolute;
  font-family: 'Raleway', sans-serif;
  // font-family: 'Crimson Text', serif;
  // font-weight: lighter;
  top: 235px;
  left: 20px;
  letter-spacing: .2em;
  text-shadow: 1px 1px 3px black;
  color: white;
  font-size: 1.5em;
}

.grad_img{
  position: absolute;
  top: 130px;
}

div#tourindexcaption{
  position: relative;
}

a#tourindexbut{
  position: absolute;
  top: 15px;
  right: 2px;
  // background: #ff584c;
  border: #ff584c;
}

.tourp{
  margin: 0px;
  margin-right: 20%;
}

div#verticalcarousel{
height: 100vh;
}

div#carousel-334026{
  height: 100vh;

}
