// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main_form{
  margin: auto;
  width: 60vw;
  margin-top: 6.5%;
}

.user_left {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 30em;
  width: 40vw;
  left: 0px;
}
.user_right {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  height: 30em;
  width: 16vw;
  margin-left: 30px;
}

.picture-frame{
  width: 9em;
  height: 11em;
  background: rgba(0,0,0,.1);
}
.passport_img{
  position: fixed;
  width: 100vw;
  z-index: -500;
  height: 110%;
}

.piclabel{
  margin-top: 3%;
}

.picbutton{
  margin-top: 3%;
}

#signupbutton{
background-color: green;
border-color: green;
margin-left: 5%;
margin-top: 2%;
box-shadow: 1px 1px 3px black;
}

#inputSuccess3,{
  opacity: .5;
  border-top: none;
  border-left: none;
  border-right: none;
}

// below for Chalk board use!

// h3.hey_you{
//   text-align: center;
//   // font-family: 'Bitter', serif;
//   // font-family: 'Copse', serif;
//   font-family: 'Cabin', sans-serif;
//   // font-family: 'Pacifico', cursive;
//   font-size: 4em;
//   font-weight: bolder;
//   color: white;
//   // font-style: italic;
//
// }
//
// #white{
//   background: #f9f0ea;
//   color: white;
// }

// above is for Chalk board use!

.black{
    background: #f9f0ea;
}

h3.user_click{
  font-size: 4em;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
 // font-family: 'Open Sans', sans-serif;
  // font-family: 'Niconne', cursive;
  // font-family: 'Grand Hotel', cursive;
  font-family: 'Harmattan', sans-serif;
  // margin-top: %;
  // font-family: 'Shanti', sans-serif;
  z-index: 6000;
}

chalkboard_img{
  position: absolute;
}

.user_show_board{
  position: absolute;
  margin-top: 20%;
  margin-bottom: 14%;
  z-index: 10000;
}

// #user_show_scheduled{
//   height: 500px;
// }

#a_nav_home_user{
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: #ff584c;
  z-index: 10000;
}


#black_text{
  color: black;
}


/* unvisited link */
#userpage a:visited
.userpage a:visited,
.user_click a:visited,
#userpage a:link,
.userpage a:link,
.user_click a:link,
#userpage a:active,
.userpage a:active,
.user_click a:active,{
  text-decoration: none;
  color: black;
  padding: 0 15px;
}

h3.user_click a:hover {
  position: relative;
  text-decoration: none;
  color: #ff584c;
  padding: 0 15px;

}

.map_img{
  position: fixed;
  width: 100%;
  z-index: -500;
}

.book_img{
  position: absolute;
  top: 0;
  left: 42%;
  width: 50%;
  z-index: 5000;
}

.book_img_black{
  top: 0;
  left: 42%;
  width: 50%;
  z-index: 5000;
}


#userpage{
  z-index: 2500;
}

.user_nav_bar {
  width: 100%;
  height: 6em;
  position: fixed;
  z-index: 2000;
  background: #f9f0ea;
}

#iwhite{
  color: black;
  margin-right: -15em;
}

#i{
margin-right: -1em;
}

.pro_pic_nav{
  height: 3em;
  border-radius: 50%;
}


// carousel
#user-carousel-container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
img.carou_one{
  width: 1600px;
  height: 500px;
}

#entice_section{
  font-family: 'Harmattan', sans-serif;
  text-align: center;
  height: 150px;
}

#entice_section h3{
  font-size: 3em;
  margin-top: 10px;
}
#entice_section h4{
  margin-top: 2.5em;
}

.user_show_guided{
 // background: #ff584c;
background: grey;
}


h3.show_entice,
h4.show_entice{
  margin-left: 2%;
}

.user_new_signin_avatar{
  width: 70%;
  height: auto;
  opacity: .5;
  margin-top: 5%;
  margin-bottom: 5%;
}

#carousel-example-generic img{
  display: inline;
}

#see-all-user-show{
  text-align: right;
  margin-right: 1%;
}


.col-md-12.user_created_tours{
  width: 100%;
  margin: auto;

}

.row.user_created_tours{
  margin-left: 0px;
  margin-right: 0px;
  margin: auto;
}

.index-container-relative.userneedcenter{
  margin: auto;
}

.show_entice.none{
  margin-top: 0px;
  margin-bottom:1%;
  margin-left: 0px;
  font-size: 1.5em;
}
