// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.picture-frame{
  width: 9em;
  height: 11em;
  background: rgba(0,0,0,.1);
}

.piclabel{
  margin-top: 3%;
}

.picbutton{
  margin-top: 3%;
}

#signupbutton{
  background-color: green;
  border-color: green;
  margin-left: 5%;
  margin-top: 2%;
  box-shadow: 1px 1px 3px black;
}

#inputSuccess3,{
  opacity: .5;
  border-top: none;
  border-left: none;
  border-right: none;
}

.black{
  background: #f9f0ea;
}

chalkboard_img{
  position: absolute;
}


#black_text{
  color: black;
}


/* unvisited link */

.book_img{
  position: absolute;
  top: 0;
  left: 42%;
  width: 50%;
  z-index: 5000;
}

.book_img_black{
  top: 0;
  left: 42%;
  width: 50%;
  z-index: 5000;
}

#userpage{
  z-index: 2500;
}

#iwhite{
  color: black;
  margin-right: -15em;
}

#i{
}

.pro_pic_nav{
  height: 3em;
  border-radius: 50%;
}

// carousel
#user-carousel-container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
img.carou_one{
  width: 1600px;
  height: 500px;
}
// carousel

#carousel-example-generic img{
  display: inline;
}

#see-all-user-show{
  margin-top: 0px;
  text-align: right;
  margin-right: 2%;
  font-size: 1.25em;
  margin-bottom: 2%;
}

.col-md-12.user_created_tours{
  width: 100%;
  margin: auto;

}

.row.user_created_tours{
  margin-left: 0px;
  margin-right: 0px;
  margin: auto;
}

.index-container-relative.userneedcenter{
  margin: auto;
}

.show_entice.none{
  display: block;
  background: grey;
}

.item.active > .carousel-caption {
  text-shadow: 2px 2px 3 black;
  // font-size: 1.5em;
}

.container_relative_no_break{
  position: absolute;
  bottom: 2px;
  width: 100%;
}

#removing-right-padding{
  padding-right: 0px;
  padding-left: 0px;
}

.user_show_click_here_to_create_one{
    margin-top: -1%;
    margin-bottom: 3.5%;
    font-size: 1.5em;
}

.full_border{
  border: 1px solid;
}

.main_passport{
  margin-left: auto;
  margin-top: 7.5em;
}

.responsive_middle_none{
  display: none;
}

#error_message{
  position: absolute;
  margin: auto;
  top: 10em;
  right: -20px;
  text-align: center;
  color: #FF5500;
  z-index: 7000;
  background: rgba(0,0,0,.8);
  width: 450px;
  height: 300px;
  border-radius: 25px;
  padding-right: 20px;
  padding-top: .5%;
}

.error_message{
  color: white;
}

.extra_avatar_to_hide{
    display: none;
}

.reduce_user_show_width{
  width: 95%;
  zoom: 95%;
}

li.nav_item_margin.nav_eight, li.nav_item_margin.nav_five{
  top: 1.75em;
}


// FLIP BUTTON -------------->
// FLIP BUTTON -------------->
// FLIP BUTTON -------------->
$button-height: 50px;
$button-width: 200px;
$button-spacing: 5em;
$button-transition-speed: 0.25s;

.button_row_new {
  display: (inline-flex);

  > div {
    position: relative;
    width: $button-width;
    height: $button-height;
    margin: 0 $button-spacing;
    perspective: (1000px);

    > a {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: (preserve-3d);
      transform: (
        translateZ(-($button-height / 2))
      );
     transition: (
        transform $button-transition-speed
      );

      &::before, &::after {
        justify-content: center;
        align-items: center;
        margin: 0;
        width: $button-width;
        height: $button-height;
        position: absolute;
        border: 5px solid #31323a;
        box-sizing: border-box;
        content: attr(title);
        display: (flex);
      }

      &::before {
        background-color: #31323a;
        color: #fff;
        transform: (
          rotateY(0deg)
          translateZ($button-height / 2)
        );
      }

      &::after {
        background-color: #fff;
        border-color: #31323a;
        color: #31323a;
        transform: (
          rotateX(90deg)
          translateZ($button-height / 2)
        );
      }

      &:hover {
        transform: (
          translateZ(-($button-height / 2))
          rotateX(-90deg)
        )
      }
    }
  }
}

.main_new, h1.entice_new {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: (flex);
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.3em;

}

// FLIP BUTTON ENDS  -------------->
// FLIP BUTTON ENDS -------------->
// FLIP BUTTON ENDS -------------->
// FLIP BUTTON ENDS -------------->







// entice_section

.entice_section{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Abel', sans-serif;
  text-align: center;
  height: 170px;
  justify-content: center;
}

.btn-default.entice_section_btn {
  border: 3px solid transparent;
  background-color: rgba(93, 92, 106, .8);
  display: block;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;

  &:hover{
    background-color: white;
    color: rgba(93,92, 106, 1);
    border: 3px solid rgba(93,92, 106, 1);
  }

  h3{
    margin: 0 0 5px 0;
    font-family: 'Nunito', sans-serif;
  }
}

.usershow_hthree{
  font-size: 1.5em;
  font-weight: bold;
  padding-top: .6em;
}

.caption_booked_height{
 height: 190px;
}

div#thumbnail_tour_index:hover{
  box-shadow: 0px 0px 4px 4px darkgrey;
  transition: all .2s ease-in-out;
  transform: scale(1.02)

}

form#new_user{
  margin-top: -5px;
}

input#signupbutton{
  margin-top: 0px;
}

.carou_texting{
  text-shadow: 0px 0px 2px 3px black;
}

#error_explanation{
  padding-top: 30px;
  padding-bottom: 10px;
  transform: translateY(-80%);
  zoom: 85%;
}

// responsive starts here  ------------>
// responsive starts here  ------------>
// responsive starts here  ------------>
// responsive starts here  ------------>
// responsive starts here  ------------>

@media (min-width:1900px){

  body {
    zoom: 130%;
  }

  img.passport_img{
    zoom: 80%;
  }

  form#edit_user{
    margin-top: 5%;
  }

  .main_passport{
    margin-top: 14em;
  }

  div.main_new{
    height: 90px;
    zoom: 140%;
  }

  .oneliner{
    font-size: 7em;
  }

  h4.create_a_tour_now,
  h4.join_a_tour_now{
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 1.5em;
  }


}


@media (min-width:1281px){

  #error_explanation{
    padding-top: 30px;
    padding-bottom: 10px;
    transform: translateY(-140%);
    zoom: 85%;
  }

  .user_passport_container{
    margin-top: 3em;
  }

}

// div#error_explanation{
//   padding-bottom: 10px;
//   transform: translateY(-140%);
// }

@media (min-width:775px){

  img.user_new_signin_avatar{
      width: 70%;
      height: auto;
      opacity: .5;
      margin-top: 5%;
      margin-bottom: 5%;
    }

  .user_passport_container{
    margin: auto;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    height: 100vh;
    margin-top: .5em;
  }

  img.passport_img{
    margin-top: 3em;
    position: fixed;
    width: 100vw;
    z-index: -500;
    height: 100vh;
    object-fit: cover;
  }

  img.passport_wood_img{
    display: none;
  }

}


@media (max-width:1045px){

  .responsive_middle_none{
    display: inline-flex;
  }

  .user_passport_container{
    display: inline-flex;
    margin-top: .5em;
  }

  .caption_booked_height{
    height: 100px;
  }

  .main_passport{
    margin-top: 10em;
  }

  .oneliner{
    margin-top: 0em;
    margin-bottom: 0em;
  }

}

@media (max-width:770px){

  img.user_new_signin_avatar{
    display: none;
  }

  .user_passport_container{
    display: inline-flex;
    margin-top: .5em;
  }

  img.passport_img{
    display: none;
  }

  img.passport_wood_img{
    position: fixed;
    min-width: 1200px;
    height: 100vh;
  }

  .responsive_none{
    display: none;
  }

  .responsive_middle_none{
    display: none;
  }

  .form-horizontal{
    width: 100%;
  }

  .form-horizontal.user_passport_container{
    zoom: 80%;
    align-items: center;
    justify-content: center;
  }

  #error_message{
   position: absolute;
   margin: auto;
   top: 8em;
   right: 0;
   text-align: center;
   color: #FF5500;
   z-index: 7000;
   background: rgba(0,0,0,.8);
   width: 350px;
   height: 275px;
   border-radius: 25px;
   padding-right: 20px;
   padding-top: 3%;
  }

 .extra_avatar_to_hide{
   display: inherit;
   color: white;
  }

  .extra_avatar_to_hide_padding{
  padding-left: 15px;
  }

  div.main_passport{
    margin-top: 30px;
  }

  input#signupbutton{
    margin-top: 20px;
  }

  div.col-sm-5{
    padding-left: 0;
    padding-right: 20px;
  }

  div#error_message{
    width: 200px;
    height: 350px;
    padding-left: 5px;
    text-align: right;
  }

  .button_row_new{
    display: block;
  }

  div.flip_button_div{
    margin-bottom: 10px;
  }

}


@media (max-width:667px){

  // body {
  //   width: 400%;
  //   zoom: 400%;
  // }

  #user-carousel-container-fluid{
      display: none;
  }

   // .user_show_zoomed_scale{
  //   zoom: 220%;
  //   font-size: 2em;
  // }
}
